/*===========================================================================================
	BLOG
===========================================================================================*/
.ip-body.posts .title {
	color: $c-primary;
}
.ip-body .post {
	@include ip_block;
	border-top: 1px solid #e0e0e0;
	padding: 35px 0;
	&:first-child {
		border-top: none;
		padding: 0 0 35px;
	}
	.ip-image {
		margin: 0 0 20px;
	}
	.title {
		color: $c-primary;
		font: bold 2.125em/1 $f-heading;
		margin: 0 0 0.6em;
	}
	.post-info {
		font-style: italic;
		margin: 0 0 1em;
		a {
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.excerpt {
		p {
			margin: 0;
		}
	}
	.ip-content {
		width: 55%;
		padding: 0 0 0 15px;
	}
	.date {
		margin: 10px 0 0;
		display: inline-block;
		font: 14px/1 $f-text;
	}
	.button {
		margin: 20px 0 0;
	}
}